body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #d9f3ff, #f9f9f9);
  color: #333;
}

header {
  background: #006747;
  color: white;
  padding: 20px;
  text-align: center;
}
#about p {
  margin-bottom: 15px;  /* adds space between paragraphs */
  line-height: 1.6;     /* improves readability */
}
#about strong {
  color: #032218;  /* USF Green */
}

h2 {
  color: #006747;
  border-bottom: 2px solid #ddd;
}

section {
  padding: 20px;
  margin: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

section:hover {
  transform: scale(1.01);
}

